/*===========================================================================*/
/* Icon definitions                                                          */    
/*===========================================================================*/

@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 50px;
font-style: normal;
margin-left: 1px;
margin-bottom: -100px;

}.flaticon-adn1:before {
	content: "\e000";
}
.flaticon-biology:before {
	content: "\e001";
}
.flaticon-conference2:before {
	content: "\e002";
}
.flaticon-halloween250:before {
	content: "\e003";
}
.flaticon-medical45:before {
	content: "\e004";
}
.flaticon-medical55:before {
	content: "\e005";
}
.flaticon-medicine13:before {
	content: "\e006";
}
.flaticon-molecules1:before {
	content: "\e007";
}
.flaticon-peace:before {
	content: "\e008";
}

/*===========================================================================*/
/* Override default stylings                                                 */    
/*===========================================================================*/

h2 {color: #CF0000;}

a:hover, a:active {
    color: #495961;
    text-decoration: underline;
}
a:hover, a:focus {
    outline: 0;
    color: #4183C4;
}
a 
{
    color: #495961;
    text-decoration: none;
}
a.thumbnail:hover {
    color: #CF0000 !important;
}
.details {
    border-top:5px solid #CF0000 !important;
    position:relative; 
}

/* To put the modal popup on top of the navigation bar, especially if the 
browser window is small */
#modalContent { 
    z-index: 2000 !important;
}

.container {width:1024px !important;}

/* To hide OG selection box in the registration page */
/*#user-register-form #edit-og-group-ref {display: none;}*/

/*===========================================================================*/
/* Styling for homepage                                                      */    
/*===========================================================================*/

#home-page .home-images .thumbnail .how-it-works:before,
#home-page .home-images .thumbnail .resources:before,
#home-page .home-images .thumbnail .events:before,
#home-page .home-images .thumbnail .blog:before
{background:url("../img/home.png") no-repeat scroll 0 0 transparent !important}

.home-panel {
    background: url("../cmi_background.png");
    border-radius: 10px;
    width:1024px; height: 250px; border:1px solid #CCCCCC;
}

.home-panel #upper-container 
{
    width:100%; height: 100px; text-align: center; padding-top:65px;
}

.home-panel #upper-container h1
{
    color:#CF0000; 
    font-size:2.7em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    text-shadow: horizontal-offset vertical-offset blur color; 
    background-color:#efefef; 
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
}

.home-panel #upper-container h1 span {color:#fff}

#navcontainer 
{ 
    width:100%; height: 200px; text-align: center; padding-top:5px;
}

#navcontainer ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
    text-decoration: none;
    padding: 1em 1em;
    color: #777;
    font-size: 1.2em;
}

#navcontainer ul li a:hover
{
    color: #CF0000;
}

#navcontainer ul li i
{
    color: #495961;
    text-decoration: none;
    
}
#navcontainer ul li span
{
    color: #CC0000;   
    text-decoration: none;
}



#block-panels-mini-sesi-homepage-registered .panel-col-first,
#block-panels-mini-sesi-homepage-unregistered .panel-col-first
{width: 30%;}
#block-panels-mini-sesi-homepage-registered .panel-col-last, 
#block-panels-mini-sesi-homepage-unregistered .panel-col-last 
{width: 70%;}
#block-panels-mini-sesi-homepage-registered .panel-col-first .views-field-title,
#block-panels-mini-sesi-homepage-unregistered .panel-col-first .views-field-title 
{
    font-weight: bold;
}
#block-panels-mini-sesi-homepage-registered .views-row,
#block-panels-mini-sesi-homepage-unregistered .views-row
{
    border-bottom: 1px dotted #CCC;
    padding: 5px;
}

#block-panels-mini-sesi-homepage-unregistered  .panel-col-first input
{width: 200px;}
#block-panels-mini-sesi-homepage-unregistered  .panel-col-first .control-group 
{margin-bottom: 0px;}
#block-panels-mini-sesi-homepage-unregistered  .panel-col-first .pane-title 
{margin-bottom: 20px;}
#block-panels-mini-sesi-homepage-unregistered  .panel-col-first .pane-content
{margin-left: 0px;}
#block-panels-mini-sesi-homepage-unregistered  .panel-col-first form 
{margin-bottom: 40px;}

#user-profile-form #edit-block {display: none !important;}