#query_interface_tree { float: left; width: 20%; }
#query_screen { float: left; width: 75%; }

#result-wrapper .query-table tr.query-result-labels td { text-align: center; }
#result-wrapper .query-table tr.active td { background-color: #dff0d8; }
#result-wrapper .query-table tr.active td.matched,
#result-wrapper .query-table tr td.only-matched { font-weight: bold; }
